.Shadow{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 276px;
    /* right: 18px; */
    z-index: 20;
    height: 100%;
}

.Shadow .bar {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 18px;
    height: 100%;
}


.Shadow .toggle{
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 17px;
    height: 54px;
    font-size: 0;
    line-height: 0;
    background: url("../../../templates/image/img_navi.png") no-repeat 0 0;
    text-indent: -9999px;
    transform: rotate(180deg);
    background-position: 0 -66px;
    cursor: pointer;
}

body.collapse .Shadow .toggle {
    left: 0;
    width: 28px;
    height: 66px;
    
}


/* tooltip */
div.InfoWindow:has(div):has(div){
    border-radius: 20%;
}
/* .tooltip-body{
    min-height: 127px;
    padding-bottom: 53px;

} */
.tooltip-head{
    padding-right: 56px;
    padding: 5px 88px 0 20px;
    line-height: 39px;
    font-size: 15px;
    background-color: #3496ff;
}
.InfoWindow .placename{
    overflow: hidden;
    font-weight: 600;
}
.placeName_a{
    color: #ffffff;
    text-decoration: none;

}
/* a:link{
    color: #ffffff;
    text-decoration: none;
} */
.tooltip-head::after{
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 0;
    clear: both;
    content: '';
}
.tooltip-content{
    padding: 4px 19px 0;
}

.InfoWindow.PlaceInfoWindow .tooltip-address{
    font-size: 13px;
    overflow: hidden;
    max-height: 34px;
    font-size: 12px;
    line-height: 17px;
    color: #222;
}
.tooltip-road{
    height: 18px;
    padding-top: 2px;
    font-size: 12px;
    line-height: 10px;
    color: #919191;
}
.phone{
    max-height: 17px;
    padding-top: 3px;
    white-space: nowrap;
}
.InfoWindow.PlaceInfoWindow {
    left: -203px;
    width: 300px;
}
