.Shadow{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 276px;
    /* right: 18px; */
    z-index: 20;
    height: 100%;
}

.Shadow .bar {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 18px;
    height: 100%;
}


.Shadow .toggle{
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 22px;
    height: 54px;
    font-size: 0;
    line-height: 0;
    background: url("//t1.daumcdn.net/localimg/localimages/07/2018/pc/shadow/img_navi.png") no-repeat 0 0;
    text-indent: -9999px;
    /* background-position: 0 -66px; */
    cursor: pointer;
}

body.collapse .Shadow .toggle {
    left: 0;
    width: 28px;
    height: 66px;
    
}


