<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/main/footer.css">
</head>
<body>
    <footer>
        <div class="footer-top">
            <div class="footer-term-section">
                <div class="footer-term-one">광고/제휴문의</div>
                <div class="footer-term-one">서비스문의</div>
                <div class="footer-term-one">개인정보 취급방침</div>
                <div class="footer-term-one">이용약관</div>
                <div class="footer-term-one">여행자 약관</div>
                <div class="footer-term-one">가이드 약관</div>
            </div>
            <div class="footer-social">
                <div class="social-one">
                    <img src="../../static/img/footer/facebook.png" alt="">
                </div>
                <div class="social-one">
                    <img src="../../static/img/footer/instagram-logo.png" alt="">
                </div>
                <div class="social-one">
                    <img src="../../static/img/footer/kakao-talk.png" alt="">
                </div>
                <div class="social-one">
                    <img src="../../static/img/footer/envelope.png" alt="">
                </div>

            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-text-area">
                <div class="footer-logo">
                    <img src="https://www.stubbyplanner.com/images2/common/stu_footer.png" alt="">
                </div>
                <div class="footer-info">
                    <div class="footer-text">
                        상상속 여행을 현실로, 스투비 플래너
                    </div>
                    <div class="footer-email">
                        contact : youchanj66@naver.com
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>