<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/main/main.css">

</head>
<body>
    <div class="main">
        <div class="main-contents">

            <!-- 첫번째 내 계획에 포함된 도시 -->
            <div class="plan-city">
                <div class="plan-city-text">
                    내 계획에 포함된 도시
                </div>

                <div class="plan-city-wrapper">

                    <div class="plan-one-city">
                        <div class="plan-city-pic">
                            
                        </div>

                        <div class="plan-city-name">
                            파리
                        </div>

                        <div class="plan-country-name">
                            프랑스
                        </div>

                    </div>

                </div>
            </div>



                <!-- 2번째 인기있는 여행지 -->
                <div class="popular-location">
                    <div class="popular-location-text">
                        인기있는 여행지
                    </div>

                    <div class="popular-location-wrapper">

                        <div class="popular-one-city">
                            <div class="popular-one-city-text">
                                이탈리아
                            </div>
                        </div>
                    </div>
                </div>




                <!-- 3번째 추천 유럽 여행지 -->
                <div class="recommend-location">

                    <div class="recommend-location-text">
                        추천 유럽 여행지
                    </div>
                    <div class="recommend-choice-wrapper">
                        <div class="recommend-city">
                            <div class="one-recommend-city">
                                전체
                            </div>
                        </div>

                        <div class="recommend-month">
                            <div class="one-recommend-month">
                                전체
                            </div>
                        </div>

                        <div class="recommend-people">
                            <div class="one-recommend-people">
                                전체
                            </div>
                        </div>
                    </div>

                    <div class="recommend-city-pics-wrapper">
                        <div class="one-recommend-city-pic">
                            <div class="one-recommend-city-pic-country">프랑스</div>
                            <div class="one-recommend-city-pic-city">#파리</div>
                            <div class="one-recommend-city-pic-discription">꾸준히 사랑받는 유럽여행</div>
                        </div>
                    </div>

                </div>


                

        </div>
    </div>
</body>
</html>