/* footer.html */

body{
    margin: 0;
}

.footer-top{
    height: 52px;
    background: #373741;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;

}

.footer-term-section{
    color: #86868c;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-term-one{
    font-size: 14px;
    margin: 10px;
    cursor: pointer;
}

.footer-social{
    display: flex;
}

.social-one{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #86868c;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.social-one img{
    display: inline-block;
    width: 70%;
    height: 70%;
}





.footer-bottom{
    background: #45454f;
    padding-left: 50px;
    height: 140px;
    display: flex;
    align-items: center;
}

.footer-text-area{
    display: flex;
    color: #86868c;
}

.footer-logo img{
    width: 162px;
    height: 36.9px;
    cursor: pointer;
}

.footer-info{
    margin-left: 30px;    

}

.footer-email{
    margin-top: 15px;
}



