<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/planner/planner.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="my-travel-full-wrapper">
        <div class="my-travel-wrapper">
            <div class="my-travel-top">
                <div class="my-travel-title">
                    내 유럽여행 
                    <span class="travel-count">1</span>
                </div>

                <div class="self-pack">
                    셀프팩 가입하기
                </div>
            </div>

            <div class="trip-map-wrapper">

                <div class="one-trip">
                    <div class="trip-top">
                        <img src="../../static/img/planner/tripimg.png" alt="">
                    </div>
                    <div class="trip-bottom">
                        <div class="trip-bottom-title">
                            <div>2월 5일 출발</div>
                            <div>20일간</div>
                        </div>
                        <div class="trip-dday">
                            D-30
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
</html>